/* stylesheet.scss */

@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//@import "bootstrap/scss/mixins/breakpoints";

/* Your customizations here */

$grid-breakpoints: (
  xxs: 0,
  xs: 300px,
  sm: 576px,
  md: 640px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "bootstrap";